<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="org.springframework.cloud.config" level="WARN"/>
    <logger name="com.netflix.discovery" level="WARN"/>

    <if condition='isDefined("LOGGING_JSON")'>
        <then>

            <include resource="com/google/cloud/spring/logging/logback-json-appender.xml"/>
            <root level="INFO">
                <appender-ref ref="CONSOLE_JSON"/>
            </root>

        </then>
        <else>
            <root level="info">
                <appender-ref ref="CONSOLE"/>
            </root>
        </else>
    </if>

</configuration>
